#contact-email {
  font-size: 200%;
  border-bottom: 1px solid crimson;
  transition: all 0.3s ease-in;
  padding-bottom: 0px;
}

#contact-email:hover {
  padding-bottom: 10px;
  transition: all 0.2s ease-in;
  border-bottom: 4px solid crimson;
}

#contact-copy-btn {
  margin-top: 35px;
}

@media (max-width: 800px) {
  #contact-email {
    font-size: 150%;
  }
}