#work-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-project {
  display: flex;
  flex-direction: column;
  height: 235px;
  margin:1%;
  transition-duration: 0.2s;
  width: 45%;
}

@media (max-width: 800px) {
  .work-project {
    width: 100%;
  }
}

.work-project:hover {
  transform: scale(1.05);
  transition-duration: 0.3s;
  z-index: 8888;
}

.work-project-img {
  background-size: cover;
  filter: saturate(20%);
  height: inherit;
  margin: 1%;
  overflow: visible;
  transition-duration: 0.2s;
  width: 100%;
  -webkit-filter: saturate(20%); /* Chrome, Safari, Opera */
}

.work-project-img:hover {
  background-size: cover;
  height: inherit;
  filter: saturate(150%);
  margin: 1%;
  overflow: visible;
  transition-duration: 0.2s;
  width: 100%;
  -webkit-filter: saturate(150%); /* Chrome, Safari, Opera */
}

.work-project p {
  font-size: 110%;
  margin-bottom: 0px !important;
  padding-left: 20px;
}

#work-project-details {
  align-items: center;
  display: none;
  flex-direction: column;
  text-align: justify;
  width: 100%;
}

#work-project-details .button {
  margin-bottom: 10px;
  width: 100%;
}

#work-project-details code {
  margin-bottom: 30px;
}

#work-project-details-img {
  width: 100%;
}

#work-project-details-title {
  margin-top: 20px;
}

.work-project-details-separator {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  width: 100px;
}


